<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.arunesh.signupactivity">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ShowUp" />
        <activity android:name=".ButtonInvisibility" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUpActivity" />
        <activity android:name=".Seeking" />
        <activity android:name=".SimpleCalculator" />
        <activity android:name=".Rating" />
        <activity
            android:name=".WebpageOpener"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_webpage_opener"
            android:theme="@style/FullscreenTheme"></activity>
        <activity android:name=".WebPage"></activity>
    </application>

</manifest>